.toppanel p {
  font-size: 10pt;
}

.col-md-7 {
  background-color: #f5fffa;
  border-style: solid;
  border-width: thin;
  border-color: red;
  margin: 2px;
}

.col-md-4 {
  background-color: #f5faff;
  border-style: solid;
  border-width: thin;
  border-color: lightgreen;
  margin: 2px;

}

.lpanel {
  background-color: #cef2e0;
  font-size: 8pt;
  border-style: solid;
  border-color: red;
  padding: 0.2em 0.4em;
}

.lpanel h2 {
  font-size: 14pt;
  font-weight: bold;
  margin: 0 auto;
}

.rpanel {
  background-color: #cedff2;
  font-size: 8pt;
  border-style: solid;
  border-color: red;
  padding: 0.2em 0.4em;
}

.rpanel h2 {
  font-size: 14pt;
  font-weight: bold;
  margin: 0 auto;
}

.bottompanel {
  background-color: #ddcef2;
  font-size: 8pt;
  border-style: solid;
  border-color: red;
  padding: 0.2em 0.4em;
}

.bottompanel h2 {
  font-size: 14pt;
  font-weight: bold;
  margin: 0 auto;
}

.col-md-11{
  background-color: #faf5ff;
  border-style: solid;
  border-width: thin;
  border-color: lightgreen;
}
.sidebar {
  width: 8%;
  float: left;
  background-color: grey;
  height: 100%auto;
  position: fixed;
}

#globe {
  width: 50px;
  height: 50px;
}

.jumbotron {
  margin: 10px;
  padding: 10px;
}

.jumbop {
  font-size: smaller;
  font-style: italic;
}

.sbapic {
  float: left;
}

.baba {
  float: right;
}

.bat {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.pcredit {
  font-size: 10pt;
  text-align: center;
}
